.header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 500px;
    max-width: 1170px;
    background-image: url(../../images/header-background-small.webp);
    background-size: 100% 100%;
    margin: 0 auto;

    @media (min-width: 1024px) {
        height: 650px;
    }

    @media (min-width: 1170px) {
        background-image: url(../../images/header-background-big.webp);
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        max-width: 380px;
        margin: 40px 16px auto;

        @media (min-width: 768px) {
            margin: 0;
        }
    }

    &__title {
        margin-bottom: 21px;
        color: #fff;
    }

    &__description {
        margin-bottom: 32px;
        color: #fff;
    }
}